# .coveragerc to control coverage.py
[run]
source = runpandas
relative_files = True
branch = True
include = */runpandas/*
omit =
    */_version.py
    runpandas/io/tests/*
    runpandas/tests/*
    runpandas/conftest.py
    runpandas/_testing.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
    def __repr__
    raise ImmediateDeprecationError
    if __name__ == .__main__.:
    # Ignore pass
    pass
include = */runpandas/*
omit =
    */_version.py
    runpandas/io/tests/*
    runpandas/tests/*
    runpandas/conftest.py
    runpandas/_testing.py

ignore_errors = True