include README.rst
include LICENSE
include requirements.txt
include requirements-dev.txt
include runpandas/*.py

include runpandas/tests/*.py
include runpandas/tests/io/data/*
include versioneer.py
include runpandas/_version.py