include README.md
include LICENSE.md
include requirements.txt
include requirements-dev.txt
include runpandas/*.py

include runpandas/tests/*.py
include runpandas/tests/data/*
include versioneer.py
include runpandas/_version.py