# required
pandas>=0.23.4
wrapt

# tracking files parsers


# plotting


# testing
mock>=1.0.1  # technically not need for python >= 3.3
pytest>=3.1.0
pytest-cov
coverage
codecov
coveralls

# styling
black
pre-commit
flake8-bugbear; python_version > '3.5'
